.sidebar{
    background-color: white;
    width: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    z-index: 200;
    padding-top: 10px;
}

.sidebar-link{
    /* background-color: lightgray; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    
}

.sidebar-link img{
    height: 40px;
    margin-bottom: 8px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 14px;
}